{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="content">
		<div class="single">
			<div class="container">
				<div class="single-grids">
					<div class="col-md-4 single-grid1">
							<ul>
								<li><a href=#>Users</a></li>
								<li><a href=#>Products</a></li>
								<li><a href=#>Orders</a></li>
								
								<li><a href=#>newsletter</a></li>
								<li><a href=#>recurring payments</a></li>
							</ul>
					</div>
<!--/-->					
					<div class="col-md-8 single-grid1">
							<ul>
								<li><a href=# class=''>Item (edit)</a></li>
									<ul>
									<li style='padding-left: 3em; padding-bottom: 0.5em; padding-top: 0.5em;'><h6>Name:</h6> Subitem</li>
									<li style='padding-left: 3em; padding-bottom: 0.5em; padding-top: 0.5em;'><h6>Username:</h6> Subitem</li>
									</ul>
								<li><a href=#>Item</a></li>
								<li><a href=#>Item</a></li>
								<li><a href=#>Item</a></li>
								<li><a href=#>Item</a></li>
							</ul>
					</div>
<!--/-->
				</div>
			</div>
		</div>
	</div>
{% endblock %}